.contact-section {
  background: linear-gradient(to right, #000 1%, transparent 100%),
  url("https://images.hdqwalls.com/wallpapers/wanda-vision-redness-4k-6z.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 680px) {

  .contact-section {

    background: linear-gradient(to top, #000 1%, transparent 100%),
    url(https://i.pinimg.com/736x/8e/2f/d9/8e2fd988eced4c5665396df449be6bc2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  }
