*{
  margin: 0;
  padding: 0;
}
.container{
  background: linear-gradient(to right, #000 1%, red 100%);
  color: #fff;
  padding: 2vw 0vw;
  height: 89vh;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 680px) {

  .home-section {

    background: linear-gradient(to top, #000 1%, transparent 100%);
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1{
    color: #fff !important;
    text-align: center;
    margin-top: 150%;
  }
  }
